{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="container">
        <br>
        <h1>Ресурсный учёт по исполнителям</h1>
        <br>
        <br>

        <form method="get" action="{{ path('report-users') }}">
            <div class="input-group mb-3">
                <div class="form-outline" style="margin-right: 30px;">
                    <label class="form-label">От</label>
                    <input name="from" class="form-control" type="date" value="{{ from }}">
                </div>
                <br>

                <div class="form-outline">
                    <label class="form-label">До</label>
                    <input name="to" class="form-control" type="date" value="{{ to }}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Построить отчет</button>


            <input type="hidden" name="routeName" value="report-tasks">
            <input type="hidden" name="submenuIndex" value="-1">
            <input type="hidden" name="menuIndex" value="4">
        </form>
        <br>
        <br>
        <br>
        <br>

        {% if tasks is empty %}
            <p>Не найдены задачи за выбранный промежуток времени</p>
        {% endif %}

        {% if tasks is not empty %}
            <a href="{{ path('report-users-excel', {from: from, to: to}) }}" class="btn btn-success">Скачать в Excel</a>
            <table class="table">
                <thead>
                <tr>
                    {% for header in headers %}
                        <th scope="col">{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <th scope="row">{{ task.name }}</th>
                        <td>{{ task.count }}</td>
                        <td>{{ task.time }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}